<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="/assets/css/style.css"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="/assets/js/main.js"></script>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Hello</h1>

        <h2>Fellow Spring Framework Gurus!!!</h2>
    </div>


    <form class="form" action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">

        <table>
            <tr class="form-group">
                <td class="form-field-name"><label>Id:</label></td>
                <td class="form-field-input"><input type="text" th:field="*{id}" class="form-control" /></td>
                <td th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Name Error</td>
            </tr>
            <tr class="form-group">
                <td><label>Content:</label></td>
                <td><input type="text" th:field="*{content}" class="form-control" /></td>
                <td th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Age Error</td>
            </tr>
            <tr>
                <td><button type="submit" class="btn btn-primary">Submit</button></td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>